.mb-lg-0{
    margin: 0 auto;
  }
    
    .language-button{
      height: 40px;
      line-height: 37px;
      background-color: transparent;
      border: 2px solid #000;
      display: inline-block;
      padding: 0 20px;
      border-radius: 30px;
      text-decoration: none;
      color: #000;
    }
    .my-modal-overlay{
      background-color: #FCAC62;
      background-image: url(../assets//pattern-orange.png);
      background-repeat: repeat;
    }
    .custom-rows{
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    button{
      border: 0;
    }
    .custom-nav{
      border-top: 8px solid #FCAC62;
    }
    
    .nav-link{
      font-size: 17px;
      font-family: 'Tajawal-medium';
      color: #74757E;
      padding-right: 20px !important;
      padding-left: 20px !important;
      position: relative;
      transition: all 0.3s;
    } 
    .nav-link .text-link{
      position: relative;
      z-index: +2;
    }
    
  
    .nav-link:hover{
      color: #FCAC62;
    }
  
    .nav-link:hover:before{
        right: 0 !important;
        width: 100%;
        opacity: 100%;
      }
  
    .nav-link:before{
        position: absolute;
        top: 0;
        right: -100%;
        z-index: 0;
        content: '';
        background-color: #FCAC62;
      }
      
  
      .navbar-nav .nav-link.active{
      border-radius: 25px;
      background-color: #FCAC62;
      right: 0 !important;
      color: #fff;
    }
  
    .nav-link:before{
        position: absolute !important;
        top: 0 !important;
        right: -100% !important;
        z-index: 0 !important;
        content: '' !important; 
        background-color: #f5f5f5 !important;
        border-radius: 25px;
        transition: all 0.5s;
        width: 0;
        height: 100%;
        opacity: 0;
      }
  
    .navbar-nav .nav-link.active:hover:before{
      z-index: 0;
      background-color: rgb(0 0 0 / 6%) !important;
    }
    
  
  .modal-body{
    padding: 0 !important;
  }